<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" src="<%= cdn %>/<%= agency %>/css/thrivehive.css"></link>
  </head>
  <body>
    <div class="login page">
      <div class="ui centered grid login main">
        <div class="row">
          <div class="centered column login wrapper">
            <div class="ui fluid segment border grey">
              <div class="content login">
                <img class="ui image login image"
                  height="95"
                  width="260"
                  src="<%= cdn %>/<%= agency %>/img/svg/thrivehive-logo.svg"
                />
                <div class="ui grid padded" >
                  <div class="eleven wide center aligned centered column">
                    <h1 class="ui header">
                      Whoops!
                    </h1>
                  </div>
                  <p class="ui sub header">
                    An error occurred while processing your request:
                  </p>
                  <p class="ui sub header">
                    <%= message %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
