<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <table>
      <tr>
        <td></td>
        <td>
          <table>
            <thead>
              <tr><td><h1>Reset Your Password</h1></td></tr>
            </thead>
            <tbody>
              <tr><td></td></tr>
              <tr>
                <td>
                  <p>
                    You are receiving this email because you requested to reset
                    the password for your account.
                  </p>
                  <p>
                    Username: <strong><%= username %></strong>
                  </p>
                  <p>
                    Please click <a href="<%= passwordResetUrl %>">here</a> to
                    reset your password, or copy and paste the following URL
                    into your browser:
                  </p>
                  <p>
                    If you have any trouble reaching the above URL or accessing
                    your account, please email support@thrivehive.com with a
                    description of your problem.
                  </p>
                  <p><strong>Thank you for using <%= agencyName %>!</strong></p>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr><td></td></tr>
            </tfoot>
          </table>
          <table>
            <tr><td></td></tr>
            <tr><td></td></tr>
            <tr><td></td></tr>
            <tr><td></td></tr>
            <tr>
              <td>
                You are receiving this email because you or someone with access
                to your account requested a password reset. For help, contact
                support@thrivehive.com.
              </td>
            </tr>
            <tr>
              <td>
                <a href="//my.thrivehive.com" target="_blank">
                  <object
                    width="20%"
                    height="auto"
                    data="<%= cdn %>/<%= agency %>/img/png/logo.png"
                    type="image/png"
                  ></object>
                </a>
              </td>
            </tr>
          </table>
        </td>
        <td></td>
      </tr>
    </table>
  </body>
</html>
