<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <table>
      <tr>
        <td></td>
        <td>
          <table>
            <thead>
              <tr><td><h1>Welcome to <%= agencyName %>!</h1></td></tr>
            </thead>
            <tbody>
              <tr><td></td></tr>
              <tr>
                <td>
                  <p>
                    Thank you for signing up for <%= agencyName%>!
                  </p>
                  <% if (username) { %>
                    <p>Username: <strong><%= username %></strong></p>
                  <% } %>
                  <% if (password) { %>
                    <p>Password: <strong><%= password %></strong></p>
                  <% } %>
                  <p>
                    Please click <a href="<%= loginUrl %>">here</a> to
                    login and start using the application.
                  </p>
                  <p><a href="<%= loginUrl %>"><%= loginUrl %></a></p>
                  <p>
                    If you have any trouble reaching the above URL or accessing
                    your account, please email support@thrivehive.com with a
                    description of your problem.
                  </p>
                  <p><strong>Thank you for using <%= agencyName %>!</strong></p>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr><td></td></tr>
            </tfoot>
          </table>
          <table>
            <tr><td></td></tr>
            <tr><td></td></tr>
            <tr><td></td></tr>
            <tr><td></td></tr>
            <tr>
              <td>
                <a href="//my.thrivehive.com" target="_blank">
                  <object
                    width="20%"
                    height="auto"
                    data="<%= cdn %>/<%= agency %>/img/png/logo.png"
                    type="image/png"
                  ></object>
                </a>
              </td>
            </tr>
          </table>
        </td>
        <td></td>
      </tr>
    </table>
  </body>
</html>
